.portfolio {
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: white;
    padding-bottom: 30px;
    border-radius: 3%;
    box-shadow: 0px 0.2rem 5px gray;
}

.portfolio h2 {
    padding-top: 10px;
    margin-bottom: 2px;
}

.portfolio h3 {
    margin-top: 0px;
    color: grey;
    font-weight: 300;
    margin-bottom: 10px;
}