@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    background: linear-gradient(#f1f1f1, #d1d1d1);
    font-weight: 400;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0.2rem 5px gray;
}